---
title: About Jeremy Whitlock
site_page_type: about
---
<% wrap_layout :row_container do %>
<div class="page-header single-page-header">
  <h1>Jeremy Whitlock <small>So you want to know about me huh?</small></h1>
</div>
<p>
  My name is Jeremy Whitlock and I am a Christian, a husband, a father to two awesome boys and a
  <a href="http://toughmudder.com/">Tough Mudder</a>.  At work, I'm a Senior Software Engineer at
  <a href="http://www.apigee.com/">Apigee</a>, and in my spare time I'm an open source
  evangelist and contributor.  I am a firm believer that knowledge is power and while I may not
  know everything, I make up for it in a strong drive to learn and better myself.
</p>
<p>
  <span class="label label-important">Disclaimer</span> Anything you read on this site is my personal opinion.
</p>
<h3>Open Source Contributions</h3>
<p>
  I've been contributing to open source for over a decade now.  It started back in the day with
  <a href="http://openejb.apache.org/">OpenEJB</a>, 
  <a href="http://cruisecontrol.sourceforge.net/">CruiseControl</a> and
  <a href="http://subversion.apache.org">Subversion</a> but has now changed to things
  like <a href="http://www.jclouds.org">jclouds</a>, <a href="http://code.google.com/p/psutil/">psutil</a>
  and <a href="https://github.com/textmate/textmate">TextMate</a>.
</p>
<h3>Contact Me</h3>
<dl>
  <dt>GitHub</dt>
  <dd><iframe src="http://ghbtns.com/github-btn.html?user=whitlockjc&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></dd>
  <dt>Google Plus</dt>
  <dd><a href="//plus.google.com/103960149060463949301?prsrc=3" rel="publisher" style="text-decoration:none;">
<img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a></dd>
  <dt>LinkedIn</dt>
  <dd><script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jwhitlock" data-format="hover" data-text="Jeremy Whitlock" data-related="false"></script></dd>
  <dt>Ohloh</dt>
  <dd><a href='https://www.ohloh.net/accounts/14825?ref=Tiny' target='_top'>
<img alt='Ohloh profile for Jeremy Whitlock' border='0' height='15' src='https://www.ohloh.net/accounts/14825/widgets/account_tiny.gif' width='80' />
</a></dd>
  <dt>Twitter</dt>
  <dd><a href="https://twitter.com/whitlockjc" class="twitter-follow-button" data-show-count="true">Follow @whitlockjc</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></dd>
</dl>
<% end %>
