---
site_page_type: tag
---
<% # Override/Set the title based on the tagname %>
<% content_for :page_title do %>Files Tagged '<%= tagname %>'<% end %>
<% wrap_layout :scaffolding do %>
<% wrap_layout :row_container do %>
<div class="page-header single-page-header">
  <h1>Article Tagged '<%= tagname %>' <small><%= page_articles.length %> articles</small></h1>
</div>
<div class="row">
  <div class="span10">
    <ul>
      <% page_articles.each_with_index do |article, i| %>
      <%= partial "layouts/article_as_list_item", :locals => {:article => article, :i => i} %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<% end %>