---
title: Ron is Right
---
<% wrap_layout :full_row_container do %>
<div class="row-fluid">
  <div class="span8 offset2 content" id="content" style="text-align: center; padding-top: 10px;">
    <pre style="font: 6px/3px monospace;">;;;;;;;;;;;;,.........``......,,,,,,::::,,,,,:::::::,,,,,,,,,,:,,,.,,,,,,,......````   `..      :::::;;;;;;;;;;;;;;;'';'''''''++++++++
;;;;;;;;;;;:.........`.....,,,,,::::::::,,,,,:,::::,,,,,,,,,,,,::::,,,,,,,,,,.....``````        `:::::::;::;;;;;;;;;';;'''''''++++++++
;;;;;;;;;;:,.........`....,,,,,::::::::,,,,,,:::,,::::::,,,,,,,,::::,,,,,,,,,,.....``````       `.:::::::::;;;;;;;;;;;;'''''''++++++++
;;;;;;;;;;,...............,,:,:::::::::::,::::,::,:::::::,::::::::::,,,::,,,,,,,,....```` ``      :::;::::::;;;;;;;;;;;''''''''+++++++
;;;;;;;;;:............+@@@@@#':::+@@@@@@#:+@@@@@;;@@@@@+:+@@@@@@#;#@@@@#;'@@@@@+,+#@@@@#:```,#####@@'+@@@@@@#;:;;;;;;;;'''''''''++++++
;;;;;;;;;..............       @;:@       ;:     @@     +:@       :.     #@     @.:       @:`+       @@       ,@:;;;;;;;;;''''''''+++++
;;;;;;;;:..............        @:@       ':     @@     +:@      `,.     @@     @,:        @ #       @@        .+;;;;;;;;''''''''+'++++
;;;;;;;;,..............        .;@       ':     @#     +:@      `:.     @'     @,:      ` `:#       @@         @;;;;;;;;;''''''''''+++
;;;;;;;:.............,.   .@    '@    @@@':     ':     +:@    @@@:.     @.     @,:   `@    +#    @@@+@    @`   @;;;;;;;;;;''''''''''++
;;;;;;;:.............,.   .@    '@    @;:;:     ..     +:@    #:::`     ;`     @,:   `#    ##    @ `,@    @`   @::;;;;;;;;;'''''''''''
;;;;;;;,..........,.,..   .@   `;@    #';;:     `  `   +:@    #';,.     `  `   @,:   `@    +#    @,,,@    @`   @::;;;;;;;;;;;'''''''''
;;;;;;;...`.......,,,,.        ;;@      .;;   `    .   +:@    ` ;,.        :   @,:    `   ,,#       +@    .    @:::;;;;;;;;;;;''''''''
;;;;;;;`..........,,,,.      `;@;@      .;:   ,    '   +:@      :,.   `    @   @,:       #@ #       #@       .@'::::;;;;;;;;;;''''''''
;;;;;;,````......,,,,,.        @;@      .::   +    @   +:@      :,.   :    @   @.:        `'#       #@        `+:::;;;;;;;;;;;;'''''''
;;;;;;.```.......,,,,,.   .@   `;@    #@@,:   @    @   +,@    @@#,`   @    @   @.:   `@    @#    @@@;@    @`   @:::::::;;;;;;;;;''''''
;;;;;;`````.......,,,,.   .@`   '@    #,:,:   @    @   +:@    +,,,.   @    @   @.:   `#    @#    @```@    @`   @::::::;;;;;;;;;;;'''''
;;;;;;`````.....,.,,,,.   .@    '@    #,,,:   @    @   +,@    +,,,`   @    @   @.:   `@    @#    @`.`@    @`   @:::::::;;;;;;;;;;;;;''
;;;;;:``````......,,,,.   .@    '@    @@@':   @    @   +,@    @@@;.   @   `@   @.:   `@    @#    @@@#@    @`   @::::::::;;;;;;;;;;;;;'
;;;;;: `````......,,,,.   .@    ;@       @:   @`  `@   +,@       #.   @   ,@   @.:    `    @#       @@    @`   @::::::::::;;;;;;;;;;''
;;;;;, ```````...,,,,,.   .@    ;@       @:   @,  ,@   +,@       @.   @`  '@   @.:         ##       @@    @`   @::::::::::;;;;;;;;;;;'
;;;;;. ```````....,,,,.   .@    ;@       #:   @#  @@   +.@       #.   @;  @@   @.:        @.+       @@    @`   @::::::::::;;;;;;;;;;;;
;;;;;.  ````.`....,,,,#@@@#+@@@#:#@@@@@@@'@@@@++@@#+@@@#,+@@@@@@@'#@@@+#@@##@@@#,@@@@@@@#+..:@@@@@@#+'@@@@'#@@@#:::::::;;;;;;;;;;;;;;;
;;;;;.  ``````....,,,,,,,,,,,::::::::::::::::::;:::,:,,::::::::::::;:::;;:;:::::::::::,,,..``   `````.::::::::::::::::::;;;;;;;;;;;;;;
;;;;;`   ````......,,,,,,,,,,:::::::::;;;;;;::;;;;::::::;;;;::::;;;;;;;;;;;;;;;;;;;;;;::,,,.``  `````.::::::::::;;::::;;;;;;;;;;;;;;;;
;;;;;`    ```........,,,,,,,,::::;;:::;;;;;;;;;'';;;;;::;'''';;;;;''''''''''''''''''';;;:::,.``  ````.::::::::::;;:::::;;;;;;;;;;;;;;;
;;;;:`    ````.......,,.,,,,::;;;;;;;;;;;;;;'''';;;;;;;;;'''';';;'''''''''''''''''''''';;;:,,.`` ````.::::::::::::::::;;;;;:;;;;;;;;;;
;;;;;.    ````......,,.,,,::;;;;;;''''''''''+'+''''''''''''''''''''+++++############+++''';;:,,` `````::::::::::::::;;;;;;;:;;;;;;;;;;
;;;;;.   `````......,..,,:;;;;;''''''++'++++++++'''''''''''''+''+++++######@#########++''''';:,.` ````:::::::::::::::;;;;;;:;;;;;;;;;;
;;;;;.    `````.......,::;;''''+'+++###########+++++++++++++'+++++#####@@@@@@@######+++'';'';;;,``````::::::::::::::::;;;;;::;;;;;;;;;
;;;;;,    ```````.....,::;''''++++###@@@@#######++++++++++++++++++#######@@@@#######+++''';;;;;:.`````::::::::::::::::;;;;;:::;;;;;;;;
;;;;;,    ``````.....,:;''++###########@#@@@@@####++++++++++++++++#######################+';;;;;:,````::::::::::::::::;;;;;;;;;;;;;;;;
;;;;;:    ```````...,:;'++++++#+#############@@###+#++++++++++++++#####@##################++';;'::````::::::::::::::::::;;;;;;;;;;;;;;
;;;;;:  ```````.....,;;'++++'+######################++';''++'+++++#########################++';;;;``.`::::::::::::::::::;;;;;;;;;;;;;;
;;;;;;    ``..`.....:;''''''########################+++';'''''++++#################+########+++;;:.```,:::::::::::::::::;;;;;;;;;;;;;;
;;;;;;` ```......`.,:;;'''+##########@##############+++';;''''''++################+++#######+##+;:,````:,:,,,:::::::::::::;:;;;;;;;;;;
;;;;;;`   `..,`..`.,:;;''+#############@############++'';;;';;''++##@@###########+,:'###########+:,````,::,...::::::::::::::;;;;;;;;;;
;;;;;;`   `......`,,,:;'+############################++';;;;;;;''+###############',.,'###########':..``.,.````.::::::::::::::;;;;;;;;;
;;;;;;`   `......`..,::+############@########@#+++#####';;;;::;;'+#@+;;'#@#######'::,:'###########:,..``.......,::::::::::::::;;;;;;;;
;;;;;'.````.,...`.`.,,;##############@#######@',,;###@#';::::::;'#@#++##@#####@##+,,,,+########@##::,.``..,,,::,:::::::::::::::;;;;;;;
;;;;;;.````.,.....`..,+####@@#+''''''#######@@',:,'####+;::::;:;'###+@@@######@#@#:,,:############;:,```.,,::;:::::::::::::::::::;;;;;
;;;;;;,````.,..,.....:###+###;;+'+++#@#####@@#'::::'+#++++'';'''+###+;'#@#@###@#@#':,,+#########@#';:```.:::;;,:::::::::::::::::;;;;;;
;;;;;;:`.``....,..,.,;#####@;,,;'##@@##@###@@#+:,:;'####+';;;;;'#####++#######@#@@+::.;##+######@@';:```.:;;;;,::::::::::::::::::;;;;;
...,;;;`,........,,,:'##+#+',;;,###@#######@@@#;::'#@#@+;::,,,,:'#@@#@@##+###@#####::.:++++######@'::.```,;;;;,::::::::::::::::::;;;::
..``.,;.,.......,:,:;:++++#;:'''#@#@######@@#@#+;::'@##;::,,,,,,:'###@@#+;@@######+,.:'++++#####@#;::,```.;:;;,::::::::::::::::::;;;;:
.,,,..,......,.:::;;;.+++###+############@@@#@@+;;,;##';::,,,,,,::#+###@':@@###+###;;'#++++#######:::,.```:,::,,:::::::::::::::::;;;;;
.,:::,,,,....,,:;;''',+#+##@#@#######++@@@@@#@#+::,;#+;;::,,,,,:::'#'###+:##########+##++#+#####+':;:,.```:,.;,,:::::::::::::::::;;:;;
,.:;::::,`...,:;;;''':+#++##@@#@#####+;#@##@##@+,,'+#';;::,,,,,,,:;#++@#':+########+##+++##+####':::::.```:,.;,,::::::::::::::::;;:;;;
;:.:;;;;:`.`.,:;;;'+'''@#+#####@#####';@@######@+###+;;;::,,,,,,,::;''+#':+++++++##++#+++######+:,:::;,.``::.:,,:::::::::::::::;;;;;;;
:;:,::;::`.`.,:;;;'''';##++###@######':@############';;::,,,,.,,,::;'''#+:#####++####+#+++#####;,:::::,,``,;:,:,::::::::::::::;;;;;;;;
;;;:.:;::`.`.,:;;;;''';'######@######';#+#########++;;;::,,,...,,:::;'';+;##@@####++#+##+##+++:,,::::::,``,';.:,::::::::::::::;;;;;;;;
;;,::.;;:`.``,:;;;;;;;;;'############';###########+';;;:,,.....,,,:::;';';#@@##+##++#+##+##+':::,,,::::,.`,'':,:::::::::::::::;;;;;;;;
;:.:;:,:,`.``,::;;;;;;;;;'+##########+;@@@######+#';;::,,,.....,,,,::;;;;;''###++#++##++++';:::::::::::,.`.+';.,:::::::::::::;;;;;;;;;
;:.;';.;,````,:::;;;;;;;;;'+#########+;@#@#@##++++';;::,,,,.....,,,:::;;;;;;''+++++###++'';;;::::::::::,..`'';.,:::::::::::::;;;;;;;;;
;,,'''.;:````,,::;;;;;;;';;''########+;@#@@#+++++';;::,,,,.......,,,,::;;;;;;:;;''++'''''';;;:;::::::::,,..'';,,,::::::::::::;;;;;;;;;
;.:;;':::```.,.:::;;;;;''''''++###@@##'####+'++++;;;:,,,,,........,,,:::;;;;;:::;;'''+''''';;;;;:;;::;::,..'';:.,::::::::::::;;;;;;;;;
;.;;'';::```..,:::;;;;;;;'''++++++####+##+'+++++';;:::,,,..........,,:::;;;;;:::::;;''''';;;;;;;;;;;;;::,.`'';:.,:::::::::::::;;;;;;;;
;.;;'';:,` `..,:;:;;;;;;''''++++##+++##+++'+++++';;::::,,..........,,:::;;;;;;::::;;;'''';;;;;;;;;;;;;::,.`'';:,,:::::::::::::;;;;;;;;
:,;''''';`  `.,:::;;;;''''''+++++##++'''''+++++'';;::::,,,,,,,,...,,,:::;''';;;;:;::;;;;;;;;;;;;;;;;;;::,,.'';:,,::::::::::::;;;;;;;;;
:,;''''+'` ``.,,:;;;;;''''''++++++++''''''+++++';;;::::::,,,,,,,,,,,,:::;;''';;;:;::::;;;;;;';';;;;;;;;:,,.';:,,,::::::::::::;;;;;;;;;
,,;''''+;` ```.:,:;;;;''''''++++++++'''''+++#+';:;::::::::::::,,,,,,:::,:;'+'';;:;::::;:;;;'';';;;;';;;:,,.'':,,,:::::::::::;;;;;;;;;;
,,;''''';` ``..,,:;;;'''''''+++++++'++'+++++++'::::::;;;;;;;;::::,,::::,::'++'';;::::::::;;;;;;;;;;'';;:,,.;:,,,,:::::::::::;;;;;;;;;;
,,:;'''';`  `.,.,:;;;''''''+++++''''++++++++#':,::::;;;;;;;;;;;::::::::,,,;'++'';;::::::;;;;;;;;;;;;';;::,.:,`.,,:::::::::::;;;;;;;;;;
..:;'''';.````,,::;;;'''''+++'+++++++++++++#+,,,::::;;;;;;;;;';;;::;:::,,,,'+++';;:::::::;;;;;;;;''''';::,,::``,,:::::::::::;;;;;;;;;;
..:;'''':.  ``..,::;;''''''''+''+''++++'+++#;,::::;:;;;''''''''';;;;;:::,,,;++''';;:;;;;;;;;;';';;;;'';::,.,,,.,:::::::::::::;;;;;;;;;
,.:;;''';. ` ``.:::;;''''''''+'+''''''''+++#;::;;;;;;;;'''''''''';;';;;;;:::+''''';;;;;;;;;;;;'';;;;;;;::,.,,:,,:::::::::::::;;;;;;;;;
:`::'''';. ````.::;;;''''''''''''''''''''+##;:;;;;;;;;;''''''''';;;;';;;;;:;+++''';;;;;;;;;;;;;';;;''';::,.,,,..::::::::::::::;;;;;;;;
;`,::;''':` ````:;:;:;;'''''''''''''''''++##';;''++'';;;'''''''';'+++++'';;''''''+';;;;;;;;;;;;;;;;''';:,..;;:..::::::::::::::;;;;;;;;
;`.,,,;'';` ```.:;:;:;;;'''''''''''''''''++++''+#####+';''''''''''#####+'';;''''''';;;;;:;;;;;;;'';';;;:,..'';.,:::::::::::::::;;;;;;;
'.`.``:;;;` ```.,:;;;:;';;'';''''''''''+'+++++++#######+'''''''+#@##++##'';;;;'''';;;;;;::;';;;;'';;;;::,,.;';,,::::::::::::::::;;;;;;
',,.`.,::;.` ```,:;:;:;'';';''''''''+'+++++''+++++++##@#++'++++####+++++';;;:;;;;;;;;;;;;:;;;;;;;'';;;::,,.:;;.::::::::::::::::::;;;;;
':.:`.:,,:.`````.::;;;;;;;';'''''''''''''+''''+###++##@@@@#@@@@@@@#++''';::::::;;;;;;;;';;;;;;;;;;;;;;::,..,,.,:::::::::::::::::;;;;;;
';`:..:,,,,`````.,:;;;;;:;;;''''''''''''''';;'+########@#@@@@@@@##++'';;::::::::;;;::;;;;;;;;;';;;;;;;;::,.,,.:;;;:;:::::::::::::;;;;;
';,.,`,::;:` ````:,:;;;:;;;;'''''''''''''';;;'++########@@@@#@@@#++'';;::::::,:::::::::;;;;;';;';;;;;''::,.:;,;;;;;::::::::::::::;;;;;
';;..`,;;':`   ``:,::;;:;;;;''''''''''''';;;;;'+++++####@@@@@@@#++';;;;::::::,,,::::::::;;;;;;';'';;;;;::,.;;;;;;;;;;;;;;;;:::::;;;;;;
'';:``,;;;:`  ```,,::;;:;';;;;''''''''';;;;;;;''''''+++#####@###+';;::::::,:,,,,:,::::::::;;;;';;';';;::,,.;'';';;;;;;;;;;;::;;;;;;;;;
'';;``,;;:,`  ```,:,:;;;:';;;'''''''''';;;;;;;;''''''''+++#####+';:::::::::,,,,,,,::::::;;;;;:;;;;;;;;;::,`;'''';;;;;;;;;;;:;;:;;;;;;;
;;;;:`.,:::. ````,:,:;:;:';;;''''''';;;;;;;;;;;;;;;;;;;;;'''+'';;:::,,,,:::,,,,,,,,::::::;:;;;;;;;;;;;;:,.`;+'''''''';;;;;;;;;;;;;;;;;
;;;;;,``,:;,  ```.,:::;;:;;;;''';';;;'';;;;;;;;;;;:;;;''';;;;;;;;;;;::,,,,,,,::,,,:::::::;;;;;;;;;;;;;;::,`;+''''''''';;;;;;;;;;;;;;;;
;;;'';.``:::````....::;;:;;;;''';;;;''';;;;;;;;:::;;'++++''';;''++++'';:,,,,,,,,:,,:::::::;;;;;;;;;;;;::,,`;++++++'''''';;;;;;;;;;;;;;
;;;;;;:..,::` ``,...:;:;;;;;;'';;;;;''';;;;;;::::;''''''+++'''''''''''';:,,,,,::::::::::::::;;;;;;;;;;::,,`;++++++'''''''';;;;;;;;;;;;
;;;;;;;;::;:` ```.,.;,:;;;;;;'';;;;;'';;;;;;;:::;'++'+++++++++++++++++''';::,,::::::::::::::;;;;;';;;;:::,.;++++++++'''''''''';;;;;;;;
;;;;;;;;;;;;`````..,;,;:;;;;;'';;;;;;;;;;;;;:::;++++++++++++++++++++++++++';:,::::::;;:::::;;;;;;;;;;';::.`;+++++++++++'''''''';;;;;;;
;;;;;;;;;;;;` ```,..:.;:;;;;';';::;;';;'';;:,:;++++++++++++++++++++++++++++';:::::::;::::::;;;;';;;;;;:::,`;++++++++++++''''''''';;;;;
;;;;;;;;;;;;.````.,,,,;:;;;;;;;:::;;'';';;;::;'+++++++++++++++++++++++++++++';:::;;::;:::,:;;;;;;;;;;;;:,,.;++++++++++++++'''''''';;';
;;;;;;;;;;;;, ````.,,:::;;::;;;:::;;';'';';:;+++++++++++#++#############+++++'';::;;;;;:::,;:;;;;;;;;;;:,..;++++++++++++++++''''''''''
;;;;;;;;;;;;:  ```.,,::;:;::;;::::;;;''''';:'++++++++##@@@#@@@@@@@@@@@@###++++'';;;;;;;;::,::;;;'';';;;;:..;+'+++++++++++++++++'''''''
;;;;;;;;;;;;;` `.`.,:,::;:;:;::,:::;;''''';;'++++++##@@@##@@@@@@@@@@########++++''''';;;::,::;;;;;;;;;;::,.;+++++++++++++++++++'''''''
;;;;;;;;;;;;;`````.,::;::;::;:,,::;;''''''''++++####@@@@@##@@@@#++'''''''+######++++'';;;:,,:;;;;;;;;;;;;:.'+++++'''''++++++++++++''''
;;;;;;;;;;;;;. ```.,,::;:;::;::,:,;'''++++'+++++##@@@##++++'''';;::::::;;;'+######+++'';;:,,::;;;;;;;;;;::,'++++'''''''+++++++++++++''
;;;;;;;;;;;;;: ``..,.:::;;:;;::,,:;;'+++++++++####++';';;:;;;::::::::::::::;;';''''''''';;,,::;:;;;;;;;;::,''''''''''''''+++++++++++++
;;;;;;;;;;;;;:```....:::;;;:;,:;,:;;+++#########+''';;;;;:;;;;::;::::::::::::;;;;;'''';;;;:,,:;;;';;;;;;::,;;;;''''''''''+++++++++++++
;;;;;;;;;;;;;;` `....,::;;::;,::,:;'++++######++'';;;;;;;;;;;;;:;;;;::::::;:::::;;;;';;;;;;::::;;';;;;;;:;,,,,,:;;'''''''+++++++++++++
;;;;;;;;;;;;;;````.,,.,::;;:::,:,:;'+++++++++''''';;;;;;;;;;;;;;;;;;;;;;;;;;;:::::;;;;';';;;:::;;;;;;;;;:::;;::,,:;'''''''++++++++++++
;;;;;;;;;;;;;;.```.,,.,:;;;:,:::,:;''+++++'''';;;;;;;;'''''''''''''''''''';;;;;:::;;:;;';';;:;;;;';;;;;;::'++++;..,''''''+++++++++++++
;;;;;;;;;;;;;;:```.,..:::;;:,::::::'''''''''''''''''''+''''+++++++++++++'';;;;::::::;;;;;;;;:;;;;;;;;;;;::+##+++,.`:'''''++++++#++++++
;;;;;;;;;;;;;;;```...,:::;:::,:,:;:;''''''''''''''''+++++++++++####+++++'';;;:;::::::;;;;;;;;;;;;;;;;;;;::######;`..;''''+++++##++++++
;;;;;;;;;;;;;;;````.,,:::::::,,,:::;''''''''''''''++++++###########++++''';;;::;;:;:::;;;;;:;;;;;;;;;';;:;@@@##@'`.`;;''''++++####+#++
;;;;;;;;;;;;;;;.````,.::::,:,,:.:,;;''''''''''''''+++++############++++''';;;;::;;;';;;;;'';;;;;;''';'';;+@@####+`.`.;''''+++#######++
;;;;;;;;;;;;;;;:. ``.,,::::::.::::;''''''''''''''+++++#++#########++++'''';;;;;;;;;;;;;'';;;;;;;'';';'';'##@####+.. `;;;'''++#######++
;;;;;;;;;;;;;;;;,```..,::::::.,:,,;;';'''''''''''+++++++++#+###++#+++'''''';;;;;;;;;;''''';;;;;;';'';';;+@@@####+.. `;;;'''++########+
;;;;;;;;;;;;;;;;:```.,,,;:::,,.:,,;;;;'';'''''''''+'++++++++++#+++++++''''';;;;;;;;'';;';;;::;;;;;'';;;;#@@@####+`.``:;;'''++#########
;;;;;;;;;;;;;;;;;.``,..::,::,:.,::;:;'';;'''''''''''+++++++++++++++++++'''''''';'''';;;;;;;;;;;;;;'''';+##@@####'`,``.;;;''++#########
;;;;;;;;;;;;;;;;;:``,..,:,:;,:,,:,::;;;''+'''''''''''++++++++++++++++++'''''''';;;;;;;;;';;;;;;;;;;+';'#@@#@###@'.,.``:;'''++#########
;;;;;;;;;;;;;;;;;;.`...,,:::::,..,::;::'''''''''''''''++++++++++++++++++''''';';;;;;;;;;;';;;;;;;;''''##@@######;,...`.;;''++#######++
;;;;;;;;;;;;;;;;;;:,....,::;,;,,,,,:;;;''''+++'''''''+++++++++++++++++++''''';'';;;;';;;;;:;;;;;;;''++@@@@####+#:,`..``,'''++######+++
;;;;;;;;;;;;;;;;;:::...,,,:;:,,.,.,:;;;;++''+'''+''++++++++++++''''''''''''''''';;;''';;;;;;;';;;;'''+@@######+#,,``,```;''++#####++++
;;;;;;;;;;;;;;;:::;':`,.,,:::.,,:.,,:;;'''+'++++'''''+++++''+'';;;;;;;;;;;;'';;;;;';;;;;;;;;;;;;;;'';'@@########,,.`,```,''+++####++++
;;;;;;;;;;;;;;:,:;##'...:,:,::,,,.,,::;+'+'''++''''''''''';;;;;;;;;::;;;;;;';;;;;;''''';;;;;;;;;'''';'@@#######';.:..`...:'+++++##++++
;;;;;;;;;;;;;:,:;#@@@',..,,.::.,.,.,:,:';''''++'''''''';;;;;;;;;;;;:::;;;;;;;;;;;;;;';;;;;;;'';;'''';'@@###+###::,:,.`..`.''+++++#++++
;;;;;;;;;;;;:,,;+@@@@#:.....,:.,,,.,,:;';+'''+''''+''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;''''++'';'####+++++::;:,.`..``:+'+++++++++
;;;;;;;;;;;;:,;#@@@@@@;...,..:,:.,.,:;;'''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;';;;'''''++'';'#####+'+:,::::.```` `''+++++++++
;;;;;;;;;;::,:+@@@@@@#'`.,.`.:,,,,,,,:;';'''''''''''''';;';;;;'''''';;;;;;;;;;;;;;;;;';';'''''++++'';'@@#++++;::;:;;.``.`  :'''+++++++
;;;;;;;;;;,,:+#@@@@@@#+`.,,..,,,,,,,,::;''';''''''''';''''''''''''''';;';;;;;;;;;;;;;''';''''+++++';''#@##+##::'::;:.``.` ``;''+++++++
;;;;;;;;;:,:'@@@@@@@@@@##@##:,,,,'@@@@':;#@@#'#@#+'''+@@##''@@@@@+'''''#@@@@#';;#@@@'''@@@##+##@@@##@@#@@@@@@@#@:;+:.`...`` .'++++++++
;;;;;;;;:,,;#@@@@@@@@@'      @,,#,    ,#;:  .+.  @'''@   :+#     '+++'@      .@;`   #+@     @@@   :+   @        ++':,`,.`.. `''+'+++++
;;;;;;;::::+@@@@@@@#@@+   `   @::    ` ;;:   #.  @'''@   :@       @+++@       ,;.   @@       @@   :+   #        #';;,`,...,` ;++'+++++
;;;;;;;,,:+#@@@@@@@#@@+   +   @#   :,   #:   @.  @'''@   :@   @   ++++@   ,,   #.   @:   @   @@   :+   @        ';;;:,,.``..`,'+'+++++
;;;;;;:,:'#@@@@@@@@@@@+   @   +@   +:   @:   ..  @++'@   :@   @   +#++@   `@   @.   @.   @   +@   :+   @@@   `++''';:,,.`````.+'++++++
;;;;;;,,:'##@@@#@@@@#@+   @   +@   +:   @:    .  @'++@   :@   ,@@@@+++@   `@   @.   @`   @   :@   :+   @'#   `'''+'';:,.`..```'+++++++
;;;;;;,,:+#@@@@@@@@###+ ` `   @@   +:   @:    .  @'++@   :@     @##+++@        +.   @`   @@@@@@        @;+   `''+'';;:,....```;++'++++
;;;;;:,:'@@@@@@@#####++     `@#@   +:   @:       @'++@   :+@     ;#+++@      '@+.   @`   `   :@        @,#   `'''''';::....```,'++++++
;;;;;,,;+@@@#@@@####+++   ;   @@   +:   @:  .    @++'@   :++@`    @+++@   ..  `#.   @`   `   :@        @;#   `'+''''';,....``..;++++++
;;;;:,,'+@@@#@@#####+++  `@   +@   +:   @:  +    @'+'@   :@#@@+   .+++@   .@   #.   @`   @   :@   :'   @'#   `'+''''';,.......`;++++++
;;;;,,,+#@@@#@@#######+   @   +@   +:`  @:  +    @''+@   :@   @.   #++@   .@   @.   @`   @   :@   :+   @'#   `'+''''';.,...,..`,++++++
;;;;,,:##@@#@#########+   @   +@   ':   @:  +`   @'+'@   :@   #.   ###@   .@   @.   @`   @   :@   :+   @+@   `''''+'';.,..,,,,.`'+++++
;;;:,,:###@###++######+   @   +@        @:  '@   @++'@   :@   ,   `###@   .@   @.   @'   :   :@   :+   @+@   `''+'+++;.:,,,,::,.,+++++
;;;:,,;##@@##+';'+####+   @   ++@      @#:  +@`  @+++@   :#:    ` @###@   .@   @.   @@       :@   :+   @#@   `++''++';,:::,:::::.;++++
;;;:,,'##@@#+';;;'+##@#:::@:::#+#@.  .##@'::##:::@'++@:::'#@@.  ,@####@:::;@:::@;:::@#@, `@::+@:::'#:::@#@::::++'++'';:::;:;;;'':`'+++
;;;:,.'######+';;'+#@@@@@#@++++#+#+###++####+##++++++#+############@@@@@@@@@@@@@#@@####@@@@##+';;+###+###+'+''+'+++'`;,::;;''''''.,.++
;;;:,.'#####+++''+#@@@@@@@@++++++####++#####+##++#+##############@@@@@@#@@@@@@@@#@`:..#`:@`:..; .#.:,,;;::.+.`+.;..'.#`,;`,''`,+.:,`;+
;;;,,,'##@#######@@@@@@@@@@#+++++#+##+###+#++###########@@@@@#@@@@@@@@@@#@@@@@#@#@.@:,@,,+.+:,#,,@.@,.,,:#`',,+,+`:#.+::,.'++,++`.:`;'
;;;:,,;#########@@@@@@@@@@@#+#++##++#######++#######@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#.#',#,`@.';,#,.#,:,'`':+.+..+,+.,+`+,`#.+.#,++; + `.
;;;:.::#@@@@@#@@@@@@@@@@@@@@+++++#++########+#######@@@@@@#@@@@@@@@@@@@@@@@@##@@@@###@##+'+#####@#..+###++++'++''''+++'''+###+'++',` .
;;;;.:.#@@@@@@@@@@@@@@@@@@@@#+++#+###############@#@#@@@@@@@@@@@@@@@@@@@@@@@#####@#@#+''+#####@@@@@@#######++++++'++++++#@####+++;,.`.
    </pre>
  </div>
</div>
<% end %>
